

h1, h2 {
   text-align: center;
   }
   form {
   max-width: 400px;
   margin: 20px auto;
   }
   input {
   width: 100%;
   padding: 8px;
   margin-bottom: 15px;
   }
   button {
   width: 100%;
   padding: 10px;
   margin-left: 10px;
   background-color: #209a10;
   color: #fff;
   cursor: pointer;
   font-size: 16px;
   }
   button:hover {
   background-color: #a222b6;
   }

   label{
      font-size: 20px;
      background-color: aqua;
   }
   ul {
   max-width: 400px;
   margin: 20px auto;
   }

   

/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    }
    header {
    background-color: #007bff;
    padding: 20px;
    }
    h1 {
    margin: 0;
    }
    main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    }
    .item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;


    @media(min-width: 1024px){
       flex: calc(33.33% - 20px);
       max-width: calc(33.33% - 20%);
    }
    } */